<div th:fragment="AddOneProduct">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
		<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">Nuevo producto</h5>
					<!--end::Page Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item">
							<a href="" class="text-muted">Productos</a>
						</li>
						<li class="breadcrumb-item">
							<a href="" class="text-muted">Nuevo producto</a>
						</li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">

			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-box-1 text-primary icon-2x"></i>
						</span>
						<h3 class="card-label">Registrar nuevo producto</h3>
					</div>
				</div>
				<div class="card-body">
					<form id="itemEditForm">
						<div class="row justify-content-center">
							<!--begin: Pricing-->
							<div class="col-md-4 col-xxl-4">
								<div class="pt-100 pt-md-5 pb-1 px-5">
									<!--begin::Icon-->
									<!--end::Icon-->
									<!--begin::Content-->
									<span
										class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">Detalles</span>
									<div class="form-group mt-10 mb-10">
										<label>Descripción</label>
										<div class="input-group input-group-solid">
											<div class="input-group-prepend"><span class="input-group-text"><i
														class="la flaticon2-box-1 icon-lg"></i></span></div>
											<input name="description" type="text" class="form-control"
												placeholder="Lapicero tinta ..." ng-model="item.description" />
										</div>
										<span class="form-text text-muted">La manera en la que usted identifica el
											producto,
											procure que sea breve.</span>
									</div>
									<div class="form-group mt-10 mb-10">
										<label>Clave</label>
										<div class="input-group input-group-solid">
											<input name="key" type="text" class="form-control" aria-label="Large size"
												placeholder="5901234123457" ng-model="item.key" />
										</div>
										<span class="form-text text-muted">Puede ser el codigo de barras.</span>
									</div>
									<div class="form-group mt-10 mb-10">
										<label>Más información</label>
										<div class="input-group input-group-solid">
											<textarea name="information" class="form-control form-control-solid"
												rows="5" style="resize: none;" ng-model="item.information"></textarea>
										</div>
										<span class="form-text text-muted">Información que pueda ayudar a
											diferenciar más al
											producto, máximo 50 palabras.</span>
									</div>
									<!--end::Content-->
								</div>
							</div>
							<!--end: Pricing-->
							<!--begin: Pricing-->
							<div class="col-md-4 col-xxl-4 border-x-0 border-x-md border-y border-y-md-0">
								<div class="pt-100 pt-md-5 pb-15 px-5">
									<!--begin::Icon-->
									<!--end::Icon-->
									<!--begin::Content-->
									<span
										class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">Costo</span>
									<div class="form-group mt-10 mb-10">
										<label>Precio bruto</label>
										<div class="input-group input-group-solid">
											<div class="input-group-prepend"><span class="input-group-text">$</span>
											</div>
											<input name="price" type="text" class="form-control" placeholder="89.45"
												ng-model="item.price" ng-change="calculateFinalePrice(item)" />
										</div>
										<span class="form-text text-muted">El precio en el cual usted adquirió el
											producto
											por
											unidad.</span>
									</div>
									<div class="form-group mt-10 mb-10">
										<label>Margen</label>
										<div class="input-group input-group-solid">
											<input name="profitPercent" type="text" class="form-control"
												aria-label="Large size" placeholder="10" ng-model="item.profitPercent"
												ng-change="calculateFinalePrice(item)" />
										</div>
										<span class="form-text text-muted">El porcentaje de ganancia sobre el
											producto.</span>
									</div>
									<div class="form-group mt-10 mb-10">
										<label>Precio neto</label>
										<div class="input-group input-group-solid">
											<div class="input-group-prepend"><span class="input-group-text">$</span>
											</div>
											<input name="finalPrice" readonly type="text" class="form-control"
												placeholder="89.45" ng-model="item.finalPrice" />
										</div>
										<span class="form-text text-muted">El precio en el cual usted venderá su
											producto.</span>
									</div>
									<!--end::Content-->
								</div>
							</div>
							<!--end: Pricing-->
							<!--begin: Pricing-->
							<div class="col-md-4 col-xxl-4">
								<div class="pt-100 pt-md-5 pb-15 px-5">
									<!--begin::Icon-->
									<!--end::Icon-->
									<!--begin::Content-->
									<span
										class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">Almacén</span>
									<div class="form-group mt-10 mb-10">
										<label>Cantidad</label>
										<div class="input-group input-group-solid">
											<div class="input-group-prepend"><span class="input-group-text">#</span>
											</div>
											<input name="quantity" type="text" class="form-control" placeholder="0"
												ng-model="item.quantity" />
										</div>
										<span class="form-text text-muted">Cantidad de unidades que entraran al
											almacén.</span>
									</div>
									<div class="form-group mt-10 mb-10">
										<label>Unidad de venta</label>
										<div class="input-group input-group-solid">
											<div class="input-group-prepend"><span class="input-group-text"><i
														class="la flaticon2-box-1 icon-lg"></i></span></div>
											<input name="unit" type="text" class="form-control" placeholder="Pieza"
												ng-model="item.unit" />
										</div>
										<span class="form-text text-muted">Unidad en la cual venderá el
											producto.</span>
									</div>
									<!--end::Content-->
								</div>
							</div>
							<!--end: Pricing-->
						</div>
					</form>
				</div>
				<div class="card-footer d-flex justify-content-between">
					<a href="#" class="btn btn-light-warning font-weight-bold">Limpiar formulario</a>
					<a href="#" class="btn btn-light-primary font-weight-bold">Guardar</a>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>