<div th:fragment="all-item-table">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
		<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">Visualización de productos </h5>
					<!--end::Page Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item">
							<a href="" class="text-muted">Productos</a>
						</li>
						<li class="breadcrumb-item">
							<a href="" class="text-muted">Visualización de productos </a>
						</li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">

			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-header">
					<div class="card-title">
						<span class="card-icon">
							<i class="flaticon2-box-1 text-primary icon-2x"></i>
						</span>
						<h3 class="card-label">Lista de producto</h3>
					</div>
				</div>
				<div class="card-body">
					<div>
						<table id="tableDataProducts"
							class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline"
							style="margin-top: 13px !important; width:100%; table-layout: fixed" role="grid">
							<thead>
								<tr>
									<th style="width: 5%">Clave</th>
									<th>Descripción</th>
									<th>Precio</th>
									<th>Ganancia (%)</th>
									<th>Precio final</th>
									<th>Cantidad</th>
									<th>Unidad</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							<tfoot>
								<tr>
									<th style="width: 5%">Clave</th>
									<th>Descripción</th>
									<th>Precio</th>
									<th>Ganancia (%)</th>
									<th>Precio final</th>
									<th>Cantidad</th>
									<th>Unidad</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-between">
					<a href="#" ng-click="" class="btn btn-light-warning font-weight-bold">Limpiar
						tablas</a>
					<a href="#" ng-click="" class="btn btn-light-primary font-weight-bold">Guardar datos</a>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>