<div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed" th:fragment="header-mobile">
	<!--begin::Logo-->
	<a href="/storer/home.html">
		<i class="flaticon2-box-1 text-primary icon-3x"></i>
	</a>
	<!--end::Logo-->
	<!--begin::Toolbar-->
	<div class="d-flex align-items-center">
		<!--begin::Aside Mobile Toggle-->
		<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
			<span></span>
		</button>
		<!--end::Aside Mobile Toggle-->
		<!--begin::Header Menu Mobile Toggle-->

		<!--end::Header Menu Mobile Toggle-->
		<!--begin::Topbar Mobile Toggle-->
		<!--end::Topbar Mobile Toggle-->
	</div>
	<!--end::Toolbar-->
</div>

